@page
@model PizzaShop.Pages.CheckOut.CheckOutModel
@{
}

<h1>Your Order!</h1>
@{
    var ImagePath = "~/images/Pizzas/" + (Model.PizzaName + ".png");
}
<div class="align-content-center"> 
    <div class="col-3 mx-auto mb-5 ">
        <img src=@ImagePath class="mainImage w-100" asp-append-version="true" />
        <p>Your order for the @Model.PizzaName Pizza is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice$</p>
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="/Forms/ThankYou">Confirm order</a>
    </div>
</div>